{% extends "home_layout.html" %}

{% block body %}
<div class="container_layout">
    <aside id="content_sidebar">
        <navbar class="sidebar_options">
            <ul>
                <li><a href="">Del</a></li>
                <li><a href="">New</a></li>
            </ul>
        </navbar>
        <nav class="summaries_navbar">        
            <ul>
                {% for summary in summaries %}
                    <li><a data-summary="{{ summary['summary'] }}" onclick="open_summary(this.dataset.summary)">{{ summary['summary'] }}</a> </li>

                {% endfor %}

                <script>
                    function open_summary(content) {
                        const section = document.querySelector("#content_section");
                        section.textContent = content;
                        section.style.display = 'block';
                    }
                </script>

            </ul>
        </nav>
    </aside>

    <section id="content_section">
        <p></p>
    </section>


</div>



{% endblock %}