body
{
    margin: 0;
    background-color: rgba(238, 201, 122, 0.897);
    display: flex;
    flex-direction: column;
}

.container_layout
{
    display: flex;
    gap: 1;
}

#content_sidebar
{

    width: 30%;
    height: 90vh;
    margin: 0;
    overflow-y: auto;
    background-color: rgb(211, 198, 198);
    border: 1px solid;
    
}

.sidebar_options
{
    background-color: black;
    font-size: 1.10em;
    height: 35px;
    opacity: 0.55;
}

.sidebar_options ul
{
    list-style-type: None;
    overflow: hidden;
    background-color:rgb(148, 148, 148);
    padding: 0;
    margin: 0;
}

.sidebar_options li
{
    float: right;
    padding-left: 10px;
}

.sidebar_options li:hover
{
    padding-top: 5px;
    padding-right: 5px;
}

.sidebar_options a
{
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;
    color: rgba(250, 245, 245, 0.856);
}
.sidebar_options a:hover
{
    cursor: pointer;
    background-color:rgba(206, 46, 46, 0.541)
}

.summaries_navbar ul
{
    overflow: hidden;
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}
.summaries_navbar li:hover
{
    width: 100%;
    background-color: rgb(148, 148, 148);
}
.summaries_navbar a
{
    cursor: pointer;
}


#content_section
{
    flex: 3;
    background-color: rgb(221, 171, 130);
    width: 69.8%;
    height: 90vh;
    display: None;
}

h1
{   text-align: center;}
.navbar ul 
{
    font-size: 1.10em;
    overflow: hidden;
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.navbar a
{   
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover
{
    background-color: rgba(0, 0, 0, 0.541);
}
.navbar li
{
    float: right;
}