{% extends "layout.html" %}


{% block content %}

    <div class="auth-card">
        <form action="/login" method="post">
            <h1 class="auth-title">Log in</h1>
            
            <div class="form-section">
                <input required class="auth_fields" autocomplete="off" autofocus name="username" placeholder="Username" type="text">
                <input required class="auth_fields" autocomplete="off" autofocus name="password" placeholder="Password" type="password">
                <button class="auth_buttons" type="submit">continue</button>
            
            <p class="auth_transition">Don't have an account? <a href="{{ url_for('auth.signup')}}">Sign up</a></p>
            </div>
        </form>
    </div>

{% endblock %}